apiVersion: addon.open-cluster-management.io/v1alpha1
kind: ClusterManagementAddOn
metadata:
  name: managed-serviceaccount
{{- if eq .Values.hubDeployMode "AddOnTemplate" }}
  annotations:
    addon.open-cluster-management.io/lifecycle: "addon-manager"
{{- end }}
spec:
  addOnMeta:
    displayName: managed-serviceaccount
    description: managed-serviceaccount
{{- if or (.Values.enableAddOnDeploymentConfig) (eq .Values.hubDeployMode "AddOnTemplate") }}
  supportedConfigs:
{{- end }}
{{- if .Values.enableAddOnDeploymentConfig }}
  - group: addon.open-cluster-management.io
    resource: addondeploymentconfigs
{{- end }}
{{- if eq .Values.hubDeployMode "AddOnTemplate" }}
  - group: addon.open-cluster-management.io
    resource: addontemplates
    defaultConfig:
      name: {{ .Values.addOnTemplateName | default (print "managed-serviceaccount-" .Chart.Version) }}
{{- end }}
