apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: open-cluster-management:managed-serviceaccount:addon-manager
rules:
  # Permissions for ClusterProfileCredSyncer (always needed)
  - apiGroups:
      - authentication.open-cluster-management.io
    resources:
      - managedserviceaccounts
      - managedserviceaccounts/status
    verbs:
      - get
      - list
      - watch
      - update
      - patch
      {{- if (.Values.featureGates | default dict).ephemeralIdentity }}
      - delete
      {{- end }}
  {{- if or (eq .Values.hubDeployMode "AddOnTemplate") ((.Values.featureGates | default dict).clusterProfileCredSyncer) }}
  - apiGroups:
      - multicluster.x-k8s.io
    resources:
      - clusterprofiles
    verbs:
      - get
      - list
      - watch
  {{- end }}
  - apiGroups:
      - ""
    resources:
      - secrets
    verbs:
      - get
      - list
      - watch
      - create
      - update
      {{- if or (eq .Values.hubDeployMode "AddOnTemplate") ((.Values.featureGates | default dict).clusterProfileCredSyncer) }}
      - delete
      {{- end }}
  - apiGroups:
      - coordination.k8s.io
    resources:
      - leases
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
{{- if ne .Values.hubDeployMode "AddOnTemplate" }}
  # Additional permissions for addon manager (only in Deployment mode)
  - apiGroups:
      - cluster.open-cluster-management.io
    resources:
      - managedclusters
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - addon.open-cluster-management.io
    resources:
      - clustermanagementaddons
    verbs:
      - get
      - list
      - watch
      - patch
  - apiGroups:
      - addon.open-cluster-management.io
    resources:
      - clustermanagementaddons/finalizers
    verbs:
      - update
  - apiGroups:
      - addon.open-cluster-management.io
    resources:
      - managedclusteraddons
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
  - apiGroups:
      - addon.open-cluster-management.io
    resources:
      - managedclusteraddons/status
    verbs:
      - update
      - patch
  - apiGroups:
      - addon.open-cluster-management.io
    resources:
      - managedclusteraddons/finalizers
    verbs:
      - update
  - apiGroups:
      - addon.open-cluster-management.io
    resources:
      - addondeploymentconfigs
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - certificates.k8s.io
    resources:
      - certificatesigningrequests
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - certificates.k8s.io
    resources:
      - certificatesigningrequests/approval
      - certificatesigningrequests/status
    verbs:
      - update
  - apiGroups:
      - certificates.k8s.io
    resources:
      - signers
    verbs:
      - approve
      - sign
    resourceNames:
      - kubernetes.io/kube-apiserver-client
  - apiGroups:
      - ""
    resources:
      - configmaps
      - events
    verbs:
      - get
      - create
      - update
      - patch
  - apiGroups:
      - rbac.authorization.k8s.io
    resources:
      - roles
      - rolebindings
    verbs:
      - get
      - create
      - update
  - apiGroups:
      - work.open-cluster-management.io
    resources:
      - manifestworks
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
{{- end }}
