{{- if ne .Values.hubDeployMode "AddOnTemplate" }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: open-cluster-management:managed-serviceaccount:addon-manager
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: open-cluster-management:managed-serviceaccount:addon-manager
subjects:
  - kind: ServiceAccount
    name: managed-serviceaccount
    namespace: {{ .Release.Namespace }}
{{- end }}
---
{{- if (.Values.featureGates | default dict).clusterProfile }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: open-cluster-management:managed-serviceaccount:addon-manager-clusterprofile
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: open-cluster-management:managed-serviceaccount:addon-manager-clusterprofile
subjects:
  - kind: ServiceAccount
    name: managed-serviceaccount
    namespace: {{ .Release.Namespace }}
{{- end }}
