{{- if or (ne .Values.hubDeployMode "AddOnTemplate") ((.Values.featureGates | default dict).clusterProfileCredSyncer) }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: managed-serviceaccount
  namespace: {{ .Release.Namespace }}
{{- end }}
