{{/*
Deploy managed-serviceaccount-addon-manager when:
1. hubDeployMode != AddOnTemplate: Full addon manager (addon-manager + controllers)
2. featureGates.clusterProfileCredSyncer == true: ClusterProfileCredSyncer only when hubDeployMode == AddOnTemplate
*/}}
{{- if or (ne .Values.hubDeployMode "AddOnTemplate") ((.Values.featureGates | default dict).clusterProfileCredSyncer) }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: managed-serviceaccount
  namespace: {{ .Release.Namespace }}
{{- end }}
