apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: managed-serviceaccount-addon-agent
  # namespace: local-cluster
rules:
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - get
  - list
  - create
  - update
  - patch
- apiGroups:
  - ""
  resources:
  - secrets
  - configmaps
  verbs:
  - '*'
- apiGroups:
  - authentication.open-cluster-management.io
  resources:
  - managedserviceaccounts
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - authentication.open-cluster-management.io
  resources:
  - managedserviceaccounts/status
  verbs:
  - get
  - update
  - patch
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - '*'
